html,
body {
  font-family: "Rubik";
  font-size: 14px !important;
}
h1 {
  font-size: 1.602em;
}
.display-4 {
  font-size: 2em;
}

@media (min-width: 48em) {
  h1 {
    font-size: 2.441em;
  }
  .display-4 {
    font-size: 3.5em;
  }
}

.bg {
  background: url("../fondo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-food {
  background: url("../Bg-plum-chang.png") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(140, 197, 64, 0.6);
  -moz-box-shadow: inset 0 0 6px rgba(140, 197, 64, 0.6);
  -webkit-box-shadow: inset 0 0 6px rgba(140, 197, 64, 0.6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(140, 197, 64, 0.8);
  -moz-box-shadow: inset 0 0 6px rgba(140, 197, 64, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(140, 197, 64, 0.8);
  border-radius: 10px;
}

a:hover {
  color: #fff;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-color: rgb(243, 243, 230);
  z-index: 999;
  text-align: center;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 110px;
  right: 24px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float-kfe {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 25px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.btn-rounded {
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #25d366;
  border: #25d366;
  text-align: center;
  color: white;
  font-size: 30px;
}

.chang-red-text {
  color: #af1026;
}

.btn-info-chang {
  background-color: #af1026;
  color: white;
  border-color: #af1026;
  border-radius: 50%;
  border-style: solid;
  border: 3px;
  width: 60px;
  height: 60px;
  font-size: 25px;
}

#position-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#position-card {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#position-btn button:hover {
  color: #fff;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-info-chang::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.mb-messenger-btn {
  margin-bottom: 5rem !important;
}

.fb_dialog_content iframe {
  bottom: 34px !important;
  right: 104px !important;
}
